html {
  height: 100%;
  margin: auto;
  width: 960px;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* Aumentar el radio para un diseño más redondeado */
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Aumentar el tamaño de la fuente */
    position: relative; /* Para el efecto de sombra */
    overflow: hidden; /* Para el efecto de fondo animado */
    transition: color 0.3s ease;
}

.button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%; /* Aumentar el tamaño del pseudo-elemento para el efecto de fondo */
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3); /* Color del fondo */
    border-radius: 50%; /* Hacerlo circular */
    transform: translate(-50%, -50%) scale(0); /* Comenzar en escala 0 */
    transition: transform 0.5s ease; /* Efecto de transición */
    z-index: 0; /* Colocar detrás del texto */
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Expandir al hacer hover */
}

.button:hover {
    color: #000; /* Cambiar el color del texto al hacer hover */
}

.button-events {
    background-color: #FFA07A;
}

.button-contact {
    background-color: #C71585;
}
/* Ajustes para móviles */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .logo {
        font-size: 28px;
    }

    .subtitle {
        font-size: 12px;
    }

    .description {
        font-size: 12px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .button {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }

    .section img {
        max-width: 90%;
    }

    .section-text {
        font-size: 16px;
        padding: 15px;
    }

    .modal {
        width: 90%;
        padding: 15px;
    }

    .modal-option {
        flex-direction: column;
        align-items: flex-start;
    }

    .modal-option label {
        margin-bottom: 5px;
    }

    .modal input[type="checkbox"] {
        margin-left: 10px;
    }
}

